<%- include("header"); -%>
<form action="/" method="post">
	<a href="/weekend"><button type="submit" name="list" value="weekend">Weekend List</button></a>
	<a href="/weekday"><button type="submit" name="list" value="weekday">Weekday List</button></a>
	<a href="/today"><button type="submit" name="list" value="today">Today List</button></a>
</form>
<%- include("footer"); -%>