<%- include("header"); -%>

<div class="nolist">
	<h2>You don't know what ToDo yet!</h2>
	<h1>Let's get started!</h1>
	<h6>Create a</h6>
</div>
<form action="/" method="post">
	<a href="/weekend"><button type="submit" name="list" value="weekend">Weekend List</button></a>
	<a href="/weekday"><button type="submit" name="list" value="weekday">Weekday List</button></a>
	<a href="/today"><button type="submit" name="list" value="today">Today List</button></a>
</form>
<%- include("footer"); -%>