<%- include("header"); -%>
<div class="content">
    <div class="container title">
    	<div class="row">
    		<div class="col-md-12">
        <div class="nolist-content">
            <form action="" method="post">
                <div class="input-group title-input">
                    <input type="text" class="form-control add-task" placeholder="Title" name="title" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit" name="list">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
</div>
<%- include("footer"); -%>