html {}

body {
    margin-top: 20px;
    /*background: #f8f8f8;*/
    background-image: linear-gradient(20deg, #25303B 50%, #EDECE7 50%);
    width: 100%;
    height: auto;
    font-family: 'Nunito', sans-serif !important;
}

.todo-nav {
    margin-top: 10px
}

.todo-list {
    margin: 10px 0
}

.todo-list .todo-item {
    padding: 15px;
    margin: 5px 0;
    border-radius: 0;
    background: #f7f7f7;
}

.todo-list.only-active .todo-item.complete {
    display: none
}

.todo-list.only-active .todo-item:not(.complete) {
    display: block
}

.todo-list.only-complete .todo-item:not(.complete) {
    display: none
}

.todo-list.only-complete .todo-item.complete {
    display: block
}

.remove-todo-item {
    color: #ccc;
    visibility: hidden
}

.remove-todo-item:hover {
    color: #5f5f5f
}

.todo-item:hover .remove-todo-item {
    visibility: visible
}

div.checker {
    width: 18px;
    height: 18px
}

div.checker input,
div.checker span {}

.item {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px;
    font-size: 16px;
    margin: 2px auto 2px 5px;
    color: #194D4B;
    font-weight: 600;
}

div.button,
div.checker,
div.radio,
div.selector,
div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.card-white {
    margin: 0 20%;
    padding: 15px;
    margin-bottom: 20px;
    border: 0.5rem !important;
    background: #fff;
    border-radius: 0;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

#heading {
    color: #E4E3DC;
    padding-bottom: 2%;
}

.content {
    margin-top: 2%;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

input:checked+span {
    text-decoration: line-through;
    text-decoration-color: #685B80;
}

.box {
    margin: 0 20% 2% 20%;
    padding: 20px;
    border-radius: 0.5rem;
    background: #25303B;
    text-align: left;

}

.form-control {
    color: #25303B !important;
    font-weight: 600 !important;
    border-bottom: 1px solid #999ba1 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;

}

.form-control:focus {
    border-color: #fff !important;
    outline: 0;
    border: 0 !important;
    box-shadow: 0px 2px 0px 0px rgba(32, 43, 86, 0.75) !important;
}

.nolist {
    margin-top: 10%;
    padding: 5%;
    background-color: #ddd;
    border-radius: 0.5rem;
}

.nolist-content {
    padding: 0 5%;
}

.button-form {
    padding-top: 2%;
}

.trash {
    float: right;
    color: crimson;
    font-size: 1.5rem !important;
}

.title {
    margin: 0 20% 2% 20% !important;
    padding: 5%;
}

.my-list {
    margin: 2% auto;
}

.title-input {
    width: 50% !important;
}

.card-compiled {
    margin: auto;
    margin-bottom: 20px;
    border: 0 !important;
    padding: 1% !important;
    overflow-y: scroll !important;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}
.list-heading {
    text-decoration: none !important;
    color: #221719;
}

body::-webkit-scrollbar, .card::-webkit-scrollbar {
    width: 0.25em;
}

body::-webkit-scrollbar-track, .card::-webkit-scrollbar-track {
    background-color: #FBF6E5;
}

body::-webkit-scrollbar-thumb, .card::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}